<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Big data AI situation</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<img src="{{ url_for('static', filename = 'images/album.jpg')}}" alt="" width="150px" height="150px" >
<h1>PYTORCH PROJECT</h1>
<div>
    <h2>1.OCR</h2>
    <a href="/ocr_detect">Click this</a>
</div>
<div>
    <h2>2.Face comparsion</h2>
    <a href="/face_comparison">Click this</a>
</div>
<div>
    <h2>3.Face recognition</h2>
    <a href="/face_recognition">Click this</a>
</div>

</body>
</html>